<div class="col-lg-{{config.leftSidebarCols}}" ng-include="'partials/profileSidebar.html'" ng-if="isLoggedIn"></div>
<div class="col-lg-{{config.contentCols}}" ng-controller="feedController">
    <div class="well well-lg" ng-repeat="post in feedData">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-circle" ng-src="{{post.author.profileImageData}}" alt="{{post.author.name}}'s profile picture" style="width: 60px; height: 60px;">
                </a>
            </div>
            <div class="media-body media-left">
                <h4 class="media-heading">
                    <a href="#/{{post.author.username}}">{{post.author.name}}</a>
                    <span ng-show="post.wallOwner.username != post.author.username">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <a href="#/{{post.wallOwner.username}}">{{post.wallOwner.name}}</a>
                    </span>
                </h4>
                <span class="blog-post-meta">{{post.date| date : "dd MMM yyyy  hh:mm a"}}</span>
                <p>
                    {{post.postContent}}
                </p>
                <ul class="nav nav-pills pull-right" role="tablist">
                    <li role="presentation"><a href="#">Like <span class="badge">{{post.likesCount}}</span></a></li>
                    <li role="presentation"><a href="#">Comments <span class="badge">{{post.totalCommentsCount}}</span></a></li>
                </ul>

            </div>
            <div class="media-body media-left">
                <form action="/" method="post"></form>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-{{config.rightSidebarCols}}" ng-include="'partials/friendsSidebar.html'" ng-if="isLoggedIn"></div>