<div class="media" ng-controller="friendsSidebarController" ng-if="isLoggedIn">
    <img class="img-circle" ng-src="{{aboutMe.profileImageData}}" alt="{{aboutMe.name}}'s profile picture" style="width: 64px; height: 64px;">
    <img class="img-circle" ng-src="{{aboutMe.profileImageData}}" alt="{{aboutMe.name}}'s profile picture" style="width: 64px; height: 64px;">
    <img class="img-circle" ng-src="{{aboutMe.profileImageData}}" alt="{{aboutMe.name}}'s profile picture" style="width: 64px; height: 64px;">
    <img class="img-circle" ng-src="{{aboutMe.profileImageData}}" alt="{{aboutMe.name}}'s profile picture" style="width: 64px; height: 64px;">
    <img class="img-circle" ng-src="{{aboutMe.profileImageData}}" alt="{{aboutMe.name}}'s profile picture" style="width: 64px; height: 64px;">
    <img class="img-circle" ng-src="{{aboutMe.profileImageData}}" alt="{{aboutMe.name}}'s profile picture" style="width: 64px; height: 64px;">
</div>
