<div ng-show="pendingRequestsDropdownShow" class="list-content drop-down-search" style="top:{{pendingRequestsFormCoordinates.top}}px; left: {{pendingRequestsFormCoordinates.left}}px;">
    <ul class="list-group">
        <li href="#" ng-repeat="request in pendingRequests" class="list-group-item text-left">
            <a href="#/{{user.username}}">
                <img class="img-circle my-avatar-42" ng-src="{{request.user.profileImageData}}" alt="{{request.user.username}}`s profile picture" />
            </a>
            <label class="name">
                <a href="#/{{request.user.username}}" class="name ng-binding">
                    {{request.user.name}}
                </a>
            </label>
            <button class="bnt btn-success btn-sm pull-right my-margin-left-5">Accept</button>
            <button class="bnt btn-danger btn-sm pull-right my-margin-left-5">Reject</button>
            <div class="break"></div>
        </li>
    </ul>
</div>