<div class="well bs-component col-lg-14 col-lg-offset-5">
    <form class="form-horizontal" name="changePasswordForm" id="changePasswordForm"  ng-submit="changePassword()">
        <fieldset>
            <legend>Password Change</legend>
            <div class="form-group">
                <label for="input-old-password" class="col-lg-4 control-label">Old Password</label>
                <div class="col-lg-20">
                    <input type="password" class="form-control" id="input-old-password" ng-model="changePasswordData.oldPassword" placeholder="Old Password" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="input-new-password" class="col-lg-4 control-label">New Password</label>
                <div class="col-lg-20">
                    <input type="password" class="form-control" id="input-new-password" ng-model="changePasswordData.newPassword" ng-minlength="6" ng-maxlength="100" placeholder="New Password" tooltip="The password must be between 6 and 100 symbols" tooltip-trigger="focus" tooltip-placement="right" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="confirm-new-password" class="col-lg-4 control-label">Confirm Password</label> 
                <div class="col-lg-20">
                    <input type="password" class="form-control" id="confirm-new-password" ng-model="changePasswordData.confirmPassword" ng-minlength="6" ng-maxlength="100" placeholder="Confirm New Password" password-matcher-directive="changePasswordData.newPassword" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-20 col-lg-offset-4">
                    <a href="/#/" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary" ng-disabled="changePasswordForm.$invalid">Change Password</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>