<div class="media" ng-controller="profileSidebarController" ng-if="isLoggedIn">
    <div class="media-left">
        <a href="#">
            <img class="img-circle my-avatar-64" ng-src="{{aboutMe.profileImageData}}" alt="{{aboutMe.name}}'s profile picture" >
        </a>
    </div>
    <div class="media-body media-left">
        <h4 class="media-heading"><a href="#/{{aboutMe.username}}">{{aboutMe.name}}</a></h4>
        <h5 class="media-heading"><a href="#/profile/edit">Edit Profile</a></h5>
    </div>
</div>

