<div class="col-lg-5"></div>
<div class="well bs-component col-lg-14">
    <form class="form-horizontal" name="registerForm" ng-submit="register()">
        <fieldset>
            <legend>Register</legend>
            <div class="form-group">
                <label for="inputUsername" class="col-lg-4 control-label">Username</label>
                <div class="col-lg-20">
                    <input type="text" class="form-control" id="inputUsername" ng-model="registerData.username" placeholder="Username" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-4 control-label">Password</label>
                <div class="col-lg-20">
                    <input type="password" class="form-control" id="inputPassword" ng-model="registerData.password" placeholder="Password" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="col-lg-4 control-label">Confirm Password</label>
                <div class="col-lg-20">
                    <input type="password" class="form-control" id="confirmPassword" ng-model="registerData.confirmPassword" placeholder="Confirm Password" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-lg-4 control-label">Name</label>
                <div class="col-lg-20">
                    <input type="text" class="form-control" id="inputName" ng-model="registerData.name" placeholder="Name" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-4 control-label">Email</label>
                <div class="col-lg-20">
                    <input type="email" class="form-control" id="inputEmail" ng-model="registerData.email" placeholder="Email" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="inputGender" class="col-lg-4 control-label">Gender</label>
                <div class="col-lg-20">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inputGender1" value="1" ng-model="registerData.gender" /> Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inputGender2" value="2" ng-model="registerData.gender" /> Female
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inputGender3" value="0" ng-model="registerData.gender" /> Other
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-20 col-lg-offset-4">
                    <a href="/#/" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <a href="/#/login" class="btn btn-info col-lg-offset-8">Login Here...</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="col-lg-5"></div>
