<div class="well bs-component col-lg-14 col-lg-offset-5">
    <form class="form-horizontal" name="registerForm" ng-submit="register(registerData)">
        <fieldset>
            <legend>Register</legend>
            <div class="form-group">
                <label for="input-username" class="col-lg-4 control-label">Username</label>
                <div class="col-lg-20">
                    <input type="text" class="form-control" id="input-username" ng-model="registerData.username" placeholder="Username" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="input-password" class="col-lg-4 control-label">Password</label>
                <div class="col-lg-20">
                    <input type="password" class="form-control" id="input-password" ng-model="registerData.password" placeholder="Password" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="confirm-password" class="col-lg-4 control-label">Confirm Password</label>
                <div class="col-lg-20">
                    <input type="password" class="form-control" id="confirm-password" ng-model="registerData.confirmPassword" placeholder="Confirm Password" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-lg-4 control-label">Name</label>
                <div class="col-lg-20">
                    <input type="text" class="form-control" id="inputName" ng-model="registerData.name" placeholder="Name" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="input-email" class="col-lg-4 control-label">Email</label>
                <div class="col-lg-20">
                    <input type="email" class="form-control" id="input-email" ng-model="registerData.email" placeholder="Email" required="required">
                </div>
            </div>
            <div for="gender-group " class="form-group">
                <label class="col-lg-4 control-label">Gender</label>
                <div id="gender-group" class="col-lg-20">
                    <label for="inputGender1" class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inputGender1" value="1" ng-model="registerData.gender" required /> Male
                    </label>
                    <label for="inputGender2" class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inputGender2" value="2" ng-model="registerData.gender" /> Female
                    </label>
                    <label for="inputGender3" class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inputGender3" value="0" ng-model="registerData.gender" /> Other
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-20 col-lg-offset-4">
                    <a href="/#/" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <a href="#/login" class="btn btn-info col-lg-offset-8">Login Here...</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>