<div class="wall-header col-lg-24" ng-include="'partials/wallHeader.html'" ng-init="getDataAboutCurrentUser()"></div>

<div class="col-lg-{{config.contentCols}} col-lg-offset-{{config.leftSidebarCols}}">
    <div class="well" ng-show="isMyWall || isMyFriend">
        <form ng-submit="postOnWall();" name="addPostForm">
            <div class="form-group">
                <textarea class="form-control msd-elastic" placeholder="What`s on your mind?" ng-model="postContent" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="addPostForm.$invalid">Post</button>
        </form>
    </div>
    
    <div ng-if="isLoggedIn() && (isMyWall || isUserExists)" ng-include="'partials/wallPosts.html'" infinite-scroll='loadUserWall()' infinite-scroll-disabled='busy' nfinite-scroll-distance="0"></div>
</div>
<div class="col-lg-{{config.rightSidebarCols}}" ng-include="'partials/friendsSidebar.html'" ng-if="isLoggedIn"></div>