<div class="well well-lg" ng-repeat="post in wallData" ng-init="myInfo()">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object img-circle my-avatar-64" ng-src="{{post.author.profileImageData}}" alt="{{post.author.name}}'s profile picture">
            </a>
        </div>
        <div class="media-body media-left">
            <div ng-show="post.author.username === me.username || isMyWall" class="btn-group drop-down post-caret pull-right my-like-unlike" role="group">
                <span type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="fa fa-chevron-down drop-down-post-caret">V</span>
                </span>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li ng-show="post.author.username === me.username" ng-click="post.editing = true; post.newPostContent = post.postContent"><a>Edit</a></li>
                    <li ng-show="post.author.username === me.username || isMyWall"><a ng-click="deletePost(post)">Delete</a></li>
                </ul>
            </div>
            <h4 class="media-heading">
                <a ng-href="#/{{post.author.username}}">{{post.author.name}}</a>
                <span ng-show="post.wallOwner.username != post.author.username">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    <a ng-href="#/{{post.wallOwner.username}}">{{post.wallOwner.name}}</a>
                </span>
            </h4>
            <span class="blog-post-meta">{{post.date| date : "dd MMM yyyy  hh:mm a"}}</span>
            <div>
                <span ng-if="!post.editing">{{post.postContent}}</span>
                <form ng-show="post.editing" name="editPostForm" ng-submit="editPost(post); post.editing = false">
                    <textarea ng-model="post.newPostContent" ng-minlength="1" required class="form-group col-lg-24 msd-elastic"></textarea>
                    <button class="btn btn-primaty btn-sm" type="submit" ng-disabled="editPostForm.$invalid">Save</button>
                    <a class="btn btn-default btn-sm" ng-click="post.editing = false">Cancel</a>
                </form>
            </div>

            <div class="pull-right">
                <span ng-show="isMyWall|| isOwnFeed || post.author.isFriend || post.wallOwner.isFriend">
                    <span ng-show="!post.liked" ng-click="likePost(post);" class="icon-like-filled my-like-unlike">Like</span>
                    <span ng-show="post.liked" ng-click="unlikePost(post);" class="icon-like my-like-unlike">Unlike</span>
                    <span class="views post-details" title="likes"> {{post.likesCount}}</span>
                </span>
                <span class="fa fa-comments" title="comments"></span>
                <span class="comments-count post-details icon-comment" title="comments"> {{post.totalCommentsCount}}</span>
            </div>
        </div>

        <hr />
        <div>
            <!--display view more comments-->
            <div comment-controller-directive class="pointer pull-right" ng-if="post.comments.length < post.totalCommentsCount" ng-init="hiddenComments = post.totalCommentsCount - post.comments.length">
                <a href ng-click="getPostAllComments(post)">View {{hiddenComments}} more comments</a>
            </div>
            <!--display comments-->
            <div comment-controller-directive ng-include="'partials/commentView.html'" ng-repeat="comment in post.comments | orderBy: 'date': reverse"></div>
            <!--post comment-->
            <div ng-include="'partials/addCommentBox.html'" ng-show="isMyWall || post.author.isFriend || post.wallOwner.isFriend"></div>
        </div>
    </div>
</div>