<div class="wall-header col-lg-24" ng-include="'partials/wallHeader.html'" ng-init="getDataAboutCurrentUser()"></div>

<div class="col-lg-{{config.contentCols}} col-lg-offset-{{config.leftSidebarCols}}">
    <div class="well" ng-show="isMyWall || isMyFriend">
        <form ng-submit="postOnWall();" name="addPostForm">
            <div class="form-group">
                <textarea class="form-control msd-elastic" placeholder="What`s on your mind?" ng-model="postContent" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="addPostForm.$invalid">Post</button>
        </form>
    </div>
    <div class="well well-lg" ng-repeat="post in wallData">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-circle my-avatar-64" ng-src="{{post.author.profileImageData}}" alt="{{post.author.name}}'s profile picture">
                </a>
            </div>
            <div class="media-body media-left">
                <h4 class="media-heading">
                    <a ng-href="#/{{post.author.username}}">{{post.author.name}}</a>
                    <span ng-show="post.wallOwner.username != post.author.username">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        <a ng-href="#/{{post.wallOwner.username}}">{{post.wallOwner.name}}</a>
                    </span>
                </h4>
                <span class="blog-post-meta">{{post.date| date : "dd MMM yyyy  hh:mm a"}}</span>
                <p>
                    {{post.postContent}}
                </p>
                <ul class="nav nav-pills pull-right" role="tablist">
                    <li role="presentation" data-ng-show="show"><a ng-href data-ng-click="show = false; post.likesCount = post.likesCount - 1;">unlike<span class="badge">{{post.likesCount}}</span></a></li>
                    <li role="presentation" data-ng-show="!show"><a ng-href data-ng-click="show = true; post.likesCount = post.likesCount + 1;">like<span class="badge">{{post.likesCount}}</span></a></li>
                    <li role="presentation"><a href="#">Comments <span class="badge">{{post.totalCommentsCount}}</span></a></li>
                </ul>
            </div>
        </div>

        <hr/>

        <div ng-include="'partials/commentView.html'" ng-repeat="comment in post.comments"></div>
        <div class="media-left">
            <a href="#" class="my-inline">
                <img class="media-object img-circle my-avatar-42" ng-src="{{post.author.profileImageData}}" alt="{{post.author.name}}'s profile picture">
            </a>
        </div>

        <div class="media-body media-left">
            <!--<form ng-submit="postCommentOnPost();" name="addCommentOnPostForm" class="my-inline">-->
            <form ng-submit="postCommentOnPost();" class="my-inline">
                <div class="form-group">
                    <textarea class="form-control" placeholder="Write a comment..." rows="1" ng-model="comment.commentContent" required></textarea>
                    <!--<textarea autogrow class="form-control  msd-elastic" placeholder="Write a comment..." rows="1" ng-model="commentContent" required></textarea>-->
                </div>
                <!--<button type="submit" class="btn btn-primary btn-sm" ng-disabled="addCommentOnPostForm.$invalid">Comment</button>-->
                <button type="submit" class="btn btn-primary btn-sm">Comment</button>
            </form>
        </div>

    </div>
</div>
<div class="col-lg-{{config.rightSidebarCols}}" ng-include="'partials/friendsSidebar.html'" ng-if="isLoggedIn"></div>